@font-face {
    font-family: re;
    src: url(/Rejouice-Headline.ttf);
}
@font-face {
    font-family: al;
    src: url(/NBInternationalProBoo.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: al;
} 
html body{
    width: 100vw;
    height: 100%;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;   
    overflow: none;
}
#cursor{
    height: 7.5vh;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor{
    font-size: 1.1vw;
    font-weight: 500;
}
#page1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    position: relative;
    z-index: 2;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vw;
}
#page1 nav{
   width: 100%;
    padding: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    font-size: 1.2vw;
    opacity: 100;
    font-weight: 100;
}
#page1-content h1{
    font-size: 22vw;
    line-height: 22vw;

}
#page1-content h1 span{
    font-family: re;
}
#page2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 248, 239);
   
}
#page2 nav{
    width: 100%;
    padding: 1.2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#page2h5{
    font-size: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 100;
    color: rgb(151, 136, 136);
}
#page2-p{
    padding: 3vw;
    margin: 2rem;
    text-align:justify;
    font-size: 4.5vw;


}
#page3{
    min-height: 100vh;
    width: 100%;
    position:relative ;
    padding: 3vw;
}
#page3{
    background-color: rgb(248, 248, 239);
    padding: 3vw;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
    opacity: 100;
}
#page3-top h4 span{
    font-size: 1vw;
    padding: 0.8px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#page3-top h2{
    padding: 2vw;
    margin: 2vw;
    font-size: 4.5vw;
}
.box{
    height: 50vh;
    width: 32vw;
    background-color: #FF5F38;
}
.container{
    display: flex;
    padding: 0.8vw;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;


}
#page4{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page4 video{
    height: 100%;
}
#page4 svg{
    position: absolute;
    height: 65%;
}